<div class="announcement-block">
	<mat-toolbar [color]="'primary'">
		<span class="announcement-header">{{header}}</span>
		<span class="example-spacer"></span>
		<button mat-icon-button [disabled]="!this.activeLength" class="toolbar-button open-announce" matTooltip="Открыть" (click)="onOpenAnnouncement()">
			<mat-icon [svgIcon]="buttons[0]"></mat-icon>
		</button>
		<button mat-icon-button class="toolbar-button delete-message" (click)="onDeleteAnnouncement()" [disabled]="!this.activeLength" matTooltip="Удалить">
			<mat-icon [svgIcon]="buttons[1]"></mat-icon>
		</button>
	</mat-toolbar>
	<div #announcements class="announcement-base" >
		<app-announcement *ngFor="let item of this.appContext.announcements | async; let index = index" [context]="item" [style.backgroundColor]="getNeededColor(index)" (click)="onActiveContact({index :index, announcements : announcements})"></app-announcement>
	</div>
</div>

