:host{
    display: block;
    cursor : pointer;
}
.announcement-container{
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.date-block{
    margin-right: 8px;
    white-space: nowrap;
}
.active-mark{
    width: 10px;
    height: 10px;
    border-radius: 50% 50%;
    margin-right: 10px;
}
