.announcement-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.date-block{
    margin-right: 8px;
    white-space: nowrap;
}

.announcement-container:hover{
    background-color: #ececec;;
}
