<div class="message-overlay-spinner" *ngIf="this.overlaySpinner">
	<mat-spinner></mat-spinner>
</div>
<div class="messages-container">
	<mat-toolbar [color]="'primary'">
		<span class="messages-header">Сообщения</span>
		<span class="example-spacer"></span>
		<button mat-icon-button class="toolbar-button delete-contact" matTooltip="Удалить" (click)="onDeleteMessage(matTabGroup.selectedIndex)" [disabled]="!(this.activeMessages | async).length">
			<mat-icon svgIcon="base_clear" ></mat-icon>
		</button>
	</mat-toolbar>
	<mat-tab-group #matTabGroup mat-stretch-tabs class="messages-container-tabs" (focusChange)="focusChange()">
		<mat-tab *ngFor="let tab of this.messageTabs" [label]="tab.label">
			<div [ngClass]="tab.className">
				<ng-container *ngFor="let message of tab.collection | async ; let index = index">
					<app-message  [style.backgroundColor]="getNeededColor(index)" [context]="message" (click)="onClickMessage({event : $event, index : index, message :message})">
					</app-message>
				</ng-container>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>

