<div class="messages-container">
	<mat-toolbar [color]="'primary'">
		<span class="messages-header">Сообщения</span>
		<span class="example-spacer"></span>
		<button mat-icon-button class="toolbar-button open-trigger" matTooltip="Открыть"  [disabled]="buttons[0].disabled" (click)="openMessage()">
			<mat-icon [svgIcon]="buttons[0].icon"></mat-icon>
		</button>
		<button mat-icon-button class="toolbar-button delete-contact" matTooltip="Удалить" (click)="onDeleteMessage()" [disabled]="buttons[1].disabled">
			<mat-icon [svgIcon]="buttons[1].icon" ></mat-icon>
		</button>
	</mat-toolbar>
	<mat-tab-group mat-stretch-tabs class="messages-container-tabs">
		<mat-tab label="Исходящие">
			<div class="outer">
				<app-message *ngFor="let message of this.appContext.outerMessages | async ; let index = index" [style.backgroundColor]="getNeededColor(index)" [context]="message"></app-message>
			</div>
		</mat-tab>
		<mat-tab label="Принятые">
			<div class="accepted">
				<app-message  *ngFor="let message of this.appContext.innerMessages | async  ; let index = index" [style.backgroundColor]="getNeededColor(index)" [context]="message"></app-message>
			</div>
		</mat-tab>
		<mat-tab label="Пропущенные">
			<div class="skipped">
				<app-message  *ngFor="let message of this.appContext.innerMessages | async  ; let index = index" [style.backgroundColor]="getNeededColor(index)" [context]="message"></app-message>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
