div.password-container{
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px -8px;
    padding: 20px 40px 40px 40px;
}
.mail-form-container{
    display: flex;
    flex-direction: column;

}
mat-form-field{
    width: 220px!important;
}
.mat-form-pass-block{
    margin-top: 16px;
}
.button-group{
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
.button-group button{
    height: 40px;
}
.pass-remain-block{
    display: flex;
}
mat-error.email-code-error{
    margin: 16px 0;
}
.pass-suffix{
    display: flex;

}
